.requests-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  padding: 0.35rem 0.6rem 0.4rem;
  border-radius: 1rem;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0;
}
.request-icon {
  margin-right: 0.125rem;
}
